p {
    border: 1px solid green;
    padding: 10px 5px 15px 20px;

    /* misspelled color, property is ignored */
    /* colour: red; */
    color: aquamarine;

    /* use cascade for fallback */
    width: 200px;
    width: calc(100% - 100px);
}
